.ProjectsSection {
    margin:auto;
}
.ProjectsElement {
  margin: auto;
  padding: auto;
  width: 100%;
  background-color: yellow;
  align-items: center;
}

.ProjectsCol{
    align-items: center;
    justify-content: center;
}